*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.navbar{
    background-color: white;
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    align-items: center;
}

.nav-item{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.nav-item:hover{
    color: blue;
}

.btn-signin{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-signin:hover{
    background-color: blue;
}

.btn-register:hover{
    background-color: blue;
}


.btn-register{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.nav-logo{
    max-height: 40px;
}

.content{
    align-content: center;
    text-align: center;
    height: max-content;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #F5F5F5;
}

h1{
    font-size: 72px;
    margin: 0px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

p{
    font-size: 24px;
    margin-top: 0px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    color: gray;
}

input[type="text"]{
    width: 300px;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px ;
}

.btn-submit{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-submit:hover{
    background-color: gray;
}


footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

footer > div{
    padding: 30px;
    flex: 1;
    flex-direction: column;
}

li{
    list-style-type: none;
}

.footer-logo{
    max-height: 40px;
    margin-bottom: 15px;
}

.footer-list li{
    padding-bottom: 10px;
}

.social-media img{
    padding-right: 10px;
}